<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class="container">
        <h1>Guestbook</h1>

        <ul>
            <% flashMessages.forEach(message => { %>
            <li><%= message %></li>
            <% }); %>
        </ul>

        <form method="post" action="/">
            <input type="text" id="name" name="name" placeholder="Your Name" required>
            <br />
            <input type="text" id="email" name="email" placeholder="Your Email" required>
            <br />
            <textarea name="message" placeholder="Your Message" required></textarea>
            <br />
            <input type="submit" value="Post Message">
        </form>


        <% messages.forEach(message => { %>
        <p>
            <strong><%= message.name %></strong> <small>(<%= message.timestamp %>)</small><br />
            <%= message.message %>
        </p>
        <% }); %>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("name").focus();
                document.getElementById("email").required = false;
                document.getElementById("email").hidden = true;
            });
        </script>
    </div>
</body>

</html>
